* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ececec;
}


@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat - Regular";
}
@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat - SemiBol";
}

header {
    background-color: #262626;
    padding: 10px;
}

.header-wrapper {
    max-width: 1148px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.header-logo {
    display: flex;
    padding-left: 25px;
    align-items: center;
    height: 40px;
    background: url("../img/header-logo.png") no-repeat left center;
    background-size: 21px 40px;
    text-decoration: none;
}

#header-logo-sp1 {
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 10px;
}

#header-logo-sp2 {
    color: #ecb32e;
    font-family: "Montserrat - Medium Italic";
    font-size: 20px;
    font-weight: 500;
}

.header-menu-link {
    color: #ffffff;
    font-family: "Montserrat - Regular";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
}

.header-menu-link.active {
    border-bottom: 2px solid #fff;
}

select[name="language"] {
    width: 54px;
    height: 28px;
}

/* verify */

.verify-wrapper{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: "Montserrat - Regular";
}

.faq{
    min-width: 280px;
    max-width: 280px;
    height: 270px;
    background: url("../img/faq.png") no-repeat right bottom;
}

.faq h2{
    color: #000000;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px;
}

.faq-link{
    display: block;
    color: #000000;
    font-family: "Montserrat - Regular";
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 10px;
}

.verify-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verify-account{
    width: 260px;
    background-color: #fff;
    padding: 35px 35px 40px 15px;
}

.verify-account h1{
    color: #000000;
    font-family: "Montserrat - Semi Bold";
    font-size: 28px;
}

.line{
    width: 60px;
    height: 4px;
    background: #ecb32e;
}

.verify-account .line{
    margin-bottom:10px;
}

.account-title{
    color: #3d3d3d;
    font-size: 18px;
    margin-bottom: 5px;
}

.account-wallet-text, .account-balance-text{
    font-weight: bold;
    color: #000;
    margin-bottom: 25px;
}



.account-transactionsBtn{
    background: transparent;
    border: 2px solid #000;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 14px;
    text-align: center;
    cursor: pointer;
}

.verify{
    background: #fff;
    padding: 27px;
}

.verify h3{
    color: #818181;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

.verify-selectWrapper{
    margin-bottom: 40px;
}

.verify label, .selectWrapper-balance{
    display: block;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}

#currency{
    width: 237px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
}

.selectWrapper-balance{
    display: inline-block;
}

#verify-To, #verify-amount{
    width: 80%;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 50px;
}

.verify-fee{
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.verify-fee-values, .verify-fee-percents{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.verify-fee .verify-title{
    margin: 0px;
}

.verify-amount{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

#verify-code{
    width: 80%;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 50px;
}

.verify-generateBtn{
    display: block;
    margin: auto;
    background-color: transparent;
    border:2px solid #000;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}

/* FOOTER */
footer{
    padding: 20px;
    background: #fff;
}

.footer-wrapper{
    max-width: 1156px;
    margin: auto;
    background: #fff url("../img/footer-logo.png") no-repeat right top;
}

.footer-row{
    max-width: 493px;
    justify-content: space-between;
    display: flex;
    align-items:flex-start;
}

.footer-about{
    margin-right: 15px;
}

.footer-contacts{
    width: 205px;
}

.footer-about, .footer-contacts{
    color: #000000;
    font-family: "Montserrat - Regular";
    font-size: 12px;
    font-weight: bold;
}

.footer-copyright{
    text-align: right;
    margin-top: 30px;
}
