@media (max-width:680px), (max-device-width:680px) {
    .header-wrapper{
        justify-content: space-around;
        flex-direction: column;
    }

    .header-logo, .header-menu{
        margin-bottom: 15px;
    }
}

@media (max-width:380px), (max-device-width:380px) {
    .header-menu-link{
        margin-right: 5px;
        font-size: 13px;
    }
}
