* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-family: "Montserrat - Semi Bold";
}

@font-face {
    src: url("../fonts/Montserrat-MediumItalic.ttf");
    font-family: "Montserrat - Medium Italic";
}

@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat - Regular";
}

header {
    background-color: #262626;
    padding: 10px;
}

.header-wrapper {
    max-width: 1148px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.header-logo {
    display: flex;
    padding-left: 25px;
    align-items: center;
    height: 40px;
    background: url("../img/header-logo.png") no-repeat left center;
    background-size: 21px 40px;
    text-decoration: none;
}

#header-logo-sp1 {
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 10px;
}

#header-logo-sp2 {
    color: #ecb32e;
    font-family: "Montserrat - Medium Italic";
    font-size: 20px;
    font-weight: 500;
}

.header-menu-link {
    color: #ffffff;
    font-family: "Montserrat - Regular";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
}

.header-menu-link.active {
    border-bottom: 2px solid #fff;
}

select[name="language"] {
    width: 54px;
    height: 28px;
}
