/* HEADER */

@media (max-width:680px), (max-device-width:680px) {
    .header-wrapper {
        justify-content: space-around;
        flex-direction: column;
    }
    .header-logo, .header-menu {
        margin-bottom: 15px;
    }
}

@media (max-width:380px), (max-device-width:380px) {
    .header-menu-link {
        margin-right: 5px;
        font-size: 12px;
    }
}

/* result */

@media (max-width:850px), (max-device-width:850px) {
    .result-wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .result-account {
        margin-right: 10px;
    }
    .result-col {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    #result-fee {
        margin-bottom: 5px;
    }
    .result-feeText {
        display: block;
        margin-bottom: 20px;
    }
    .selectWrapper-balance {
        margin-top: 5px;
    }
}

@media (max-width:535px), (max-device-width:535px) {
    .result-fee {
        width: 100%;
    }
    .result-fee-values, .result-fee-percents {
        font-size: 14px;
    }
}

/* FOOTER */

@media (max-width:570px), (max-device-width:570px) {
    .footer-wrapper {
        background: none;
    }
}
