.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.row-width-90{
    width: 90%;
}

.row-marginTop-50{
    margin-top: 50px;
}

.row-align-right{
    justify-content: flex-end;
}

.row-align-center{
    justify-content: center;
}

@media (max-width:660px),(max-device-width:660px) {
    .row{
        flex-direction: column;
        justify-content: space-around;
    }

    .row__label-marginBottom-15{
        margin-bottom: 15px;
    }
}
