* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ececec;
}


@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat - Regular";
}
@font-face {
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "Montserrat - SemiBol";
}

header {
    background-color: #262626;
    padding: 10px;
}

.header-wrapper {
    max-width: 1148px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px;
}

.header-logo {
    display: flex;
    padding-left: 25px;
    align-items: center;
    height: 40px;
    background: url("../img/header-logo.png") no-repeat left center;
    background-size: 21px 40px;
    text-decoration: none;
}

#header-logo-sp1 {
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 10px;
}

#header-logo-sp2 {
    color: #ecb32e;
    font-family: "Montserrat - Medium Italic";
    font-size: 20px;
    font-weight: 500;
}

.header-menu-link {
    color: #ffffff;
    font-family: "Montserrat - Regular";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
}

.header-menu-link.active {
    border-bottom: 2px solid #fff;
}

select[name="language"] {
    width: 54px;
    height: 28px;
}

/* PASSWORD */
.faq-wrapper{
    max-width: 1148px;
    margin: auto;
    display: flex;
    justify-content:  space-around;
    margin: 30px auto;
}

.faq{
    min-width: 280px;
    max-width: 280px;
    height: 270px;
    background: url("../img/faq.png") no-repeat right bottom;
}

.faq h2{
    color: #000000;
    font-family: "Montserrat - Semi Bold";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0px;
}

.faq-link{
    display: block;
    color: #000000;
    font-family: "Montserrat - Regular";
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 10px;
}

.faq-main{
    max-width: 874px;
    width: 100%;
    background-color: #fff;
    padding: 20px 0px 40px 20px;
}

.line{
    width: 60px;
    height: 4px;
    background: #ecb32e;
}


.faq-main h1{
  color: #000000;
  font-family: "Montserrat - Semi Bold";
  font-size: 28px;
}
.faq-main h3{
  color: #818181;
  font-family: "Montserrat - Semi Bold";
  font-size: 18px;
}

.faq-title{
  font-weight: bold;
  color: #000000;
  font-family: "Montserrat - Regular";
  font-size: 20px;
}

.faq-text{
  color: #000000;
  font-family: "Montserrat - Regular";
  font-size: 20px;
  margin-bottom: 20px;
}

/* FOOTER */
footer{
    padding: 20px;
    background: #fff;
}

.footer-wrapper{
    max-width: 1156px;
    margin: auto;
    background: #fff url("../img/footer-logo.png") no-repeat right top;
}

.footer-row{
    max-width: 493px;
    justify-content: space-between;
    display: flex;
    align-items:flex-start;
}

.footer-about{
    margin-right: 15px;
}

.footer-contacts{
    width: 205px;
}

.footer-about, .footer-contacts{
    color: #000000;
    font-family: "Montserrat - Regular";
    font-size: 12px;
    font-weight: bold;
}

.footer-copyright{
    text-align: right;
    margin-top: 30px;
}
